In [11]:
import numpy as np
import pandas as pd
%matplotlib notebook

In [12]:
# Trying To Make It Different From Example
data = pd.DataFrame(data=np.random.rand(4,4) * 3000,
                   index=["Morning", "Noon", "Evening", "Night"],
                    columns=["Breakfast", "Lunch", "Dinner", "Dessert"])
data.index.name = "Time"
data.columns.name = "Food"
data

Food       Breakfast        Lunch       Dinner      Dessert
Time
Morning    32.808496  1163.419812  2921.901599    72.745931
Noon     1360.285281  1646.133446  2340.821718  1636.134541
Evening  2539.607486  2869.423909  1147.189197  1307.705379
Night    1200.709575   308.123413  2657.341892   122.743173